<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title slot="start"> Gianmarco Segura </ion-title>
    <ion-searchbar
      placeholder="Search"
      [debounce]="1000"
      (ionInput)="handleInput($event)"
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gianmarco</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Shows By Rating -->
  <div *ngIf="!query; else elseBlock">
    <h2 *ngIf="showsByRating && showsByRating.length" class="">Top Rated</h2>
    <app-carousel
      *ngIf="showsByRating && showsByRating.length"
      [shows]="showsByRating"
    />
    <div *ngIf="genres && genres.length">
      <div *ngFor="let genre of genres; index as i">
        <h2>{{ genre }}</h2>
        <app-carousel
          *ngIf="showsByGenre[i] && showsByGenre[i].length"
          [shows]="showsByGenre[i]"
          [index]="i"
        />
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div *ngIf="searchResults" class="search">
      <div *ngFor="let show of searchResults">
        <div class="card" *ngIf="show.image">
          <img
            routerLink="/show/{{ show.id }}"
            [src]="show.image.medium"
            alt="Describe Image"
          />
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>
